*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-1{
  background: url(./images/top-banner.png);
  background-repeat: no-repeat;
  min-height: 200px;
}

.half-width{
  width: 50%;
  height: 100%;
  text-align: center;
}

.section-1 h1{
  text-transform: uppercase;
  color: tomato;
  text-align: center;
}